* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clear::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    [class*="col-"] {
        width: 100%;
    }
    #band-image-container {
      margin: 1% 25%;
  }
  .band-image, .tour-image {
    /* padding: 2rem; */
    margin: 2% 0 ;
    height: 10rem;
}
.tour-content {
  margin: 0% 4.33%;
}

  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .col-mobile-1 {width: 8.33%;}
    .col-mobile-2 {width: 16.66%;}
    .col-mobile-3 {width: 25%;}
    .col-mobile-4 {width: 33.33%;}
    .col-mobile-5 {width: 41.66%;}
    .col-mobile-6 {width: 50%;}
    .col-mobile-7 {width: 58.33%;}
    .col-mobile-8 {width: 66.66%;}
    .col-mobile-9 {width: 75%;}
    .col-mobile-10 {width: 83.33%;}
    .col-mobile-11 {width: 91.66%;}
    .col-mobile-12 {width: 100%;}
    .band-image, .tour-image {
      /* padding: 2rem; */
      height: 20rem;
      margin: 2% 0 ;
  }
  #band-image-container {
    margin: 1% 25%;
}
  .tour-content {
    
    margin: 0% 4.16%;
}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .col-tablet-1 {width: 8.33%;}
    .col-tablet-2 {width: 16.66%;}
    .col-tablet-3 {width: 25%;}
    .col-tablet-4 {width: 33.33%;}
    .col-tablet-5 {width: 41.66%;}
    .col-tablet-6 {width: 50%;}
    .col-tablet-7 {width: 58.33%;}
    .col-tablet-8 {width: 66.66%;}
    .col-tablet-9 {width: 75%;}
    .col-tablet-10 {width: 83.33%;}
    .col-tablet-11 {width: 91.66%;}
    .col-tablet-12 {width: 100%;}

    #band-image-container {
      margin: 0 8.33%;
    }
    .band-image, .tour-image {
      /* padding: 2rem; */
      margin: 2% 4% ;
      height: 14rem;
  }
  .tour-content {
   
    margin: 0% 4.16%;
}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .col-laptop-1 {width: 8.33%;}
    .col-laptop-2 {width: 16.66%;}
    .col-laptop-3 {width: 25%;}
    .col-laptop-4 {width: 33.33%;}
    .col-laptop-5 {width: 41.66%;}
    .col-laptop-6 {width: 50%;}
    .col-laptop-7 {width: 58.33%;}
    .col-laptop-8 {width: 66.66%;}
    .col-laptop-9 {width: 75%;}
    .col-laptop-10 {width: 83.33%;}
    .col-laptop-11 {width: 91.66%;}
    .col-laptop-12 {width: 100%;}

    #band-container,  #band-image-container {
      margin: 0 8.33%;
    }
    .band-image, .tour-image {
      margin: 2% 4% ;
      
  }
  .tour-content {
    margin: 0 8.33%;
}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .col-desktop-1 {width: 8.33%;}
    .col-desktop-2 {width: 16.66%;}
    .col-desktop-3 {width: 25%;}
    .col-desktop-4 {width: 33.33%;}
    .col-desktop-5 {width: 41.66%;}
    .col-desktop-6 {width: 50%;}
    .col-desktop-7 {width: 58.33%;}
    .col-desktop-8 {width: 66.66%;}
    .col-desktop-9 {width: 75%;}
    .col-desktop-10 {width: 83.33%;}
    .col-desktop-11 {width: 91.66%;}
    .col-desktop-12 {width: 100%;}

    #band-container,  #band-image-container {
      margin: 0 8.33%;
    }
    .band-image, .tour-image {
      /* padding: 2rem; */
      margin: 2% 4% ;
      height: 14rem;
  }
  .tour-content {
    /* background-color: white; */
    margin: 0 8.33%;
    
}
  }