* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
ol, ul {
    list-style-type: none;
}
input {
    border: .6px solid rgb(187, 187, 187);
}
input:focus {
    outline: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.239), 0 2px 10px 0 rgb(0 0 0 / 12%);
}




.navheader {
    padding: .5rem 0;
    background-color: #000;
}

.navbar {
    display: flex;
    justify-content: space-around;
}
.navbar a {
    color: white;
    padding: .5rem 10vw;
}
/* .navbar {

} */
.navbar a:hover {
    background-color: #ccc;
    color: #222;
   
}

/*  */
.home-img {
    position: relative;
    text-align: center;
 
}
.home-img img {
    height: 400px;
    object-fit:  cover;
}

 .home-img .home-img-text {
     position: absolute;
     top: 40%;
     left: 50%;
     transform: translate(-40%, -50%);
 }
 .home-img .home-img-text h2 {
     font-size: 6rem;
     color: white;
     font-weight: lighter;
     letter-spacing: 10px;
 }
 .home-img .bottom-right-text  {
     position: absolute;
     bottom: 1.4rem;
     right: 2rem;
     color: white;
     word-spacing: .3rem;
 }
 .home-img .bottom-left-text  {
     position: absolute;
     bottom: 1.4rem;
     left: 2rem;
     color: white;
     word-spacing: .3rem;
     padding: .4rem 1rem;
     background-color: #000;
     font-size: .8rem;
 }

 /* <!-- about section --> */
 .about-cafe {
     padding: 2rem 1rem;
     
 }
 .about-cafe h2, .menu-container h2, .find-heading h4 {
     text-align: center;
     font-weight: lighter;
     padding: .4rem;
     background-color: #000;
     color: white;
     letter-spacing: 5px;
     font-size: 1.2rem;
     margin: 1rem 0 4rem 0;
     
 }
 .about-head {
    display: flex;
    justify-content: center;
 }
 .about-cafe p {
     padding: .5rem 0;
     letter-spacing: 1.7px;
     word-spacing: 4px;
 }
 .about-cafe .tagline {
     border-left: 5px solid #888;
     padding-left: 1rem;
     background-color: rgb(226, 226, 226);
 }
 .about-cafe img {
     padding: 1rem 0;
 }

 /* menu-container */
 .menu-heading, .find-heading {
     display: grid;
     justify-content: center;
    
 }
 /* food-eat */
 .food-eat {
     display: grid;
     grid-template-columns: 50% 50%;
     justify-content: space-around;
     padding: 1rem;
     box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
   

 }
 .food-eat a {
     color: #000;
 }

.food-eat .eat-tab {
    /* background-color: #222; */
    width: 100%;
    text-align: center;
} 
.food-eat .drink-tab {
    text-align: center;
}
 
.menu-container .eat-menu, .drink-menu {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    padding: 2rem 1rem;
}
.menu-container .eat-menu h5, .drink-menu h5 {
    padding: 1rem 0;
    font-size: 1.3rem;
    font-weight: lighter;
}
.menu-container .eat-menu p, .drink-menu p {
    padding: 0 0 1rem 0;
    color: #888;
}

/*  */

.food-eat .eat-tab, .drink-tab {
    cursor: pointer;
} 

.menu {
    display: none;
}
.dark-gray {
    background-color: gray;
    color: white;
}
/* menu-container */
.menu-container {
    padding: 1rem;
}
.menu-container img {
   padding: 1rem 0;
    height: 400px;
    object-fit: cover;
}

/* .where-find */
.where-find {
    padding: 1rem;
}
.where-find p {
    letter-spacing: 3px;
    line-height: 1.6;
    padding: .4rem 0;
}
.where-find p span {
    background-color: #000;
    color: white;
    padding: .3rem;
}

.contact-form input {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    margin: .5rem 0;
}
.contact-form button {
    padding: 1rem;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    border: none;
    margin: .3rem 0;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #ccc;
    color: black;
}
.footer {
    text-align: center;
    padding: 3rem;
    background-color: #888;
}









 @media only screen and (min-width: 768px) {
    .container {
        display: grid;
        justify-content: center;
       
    } 
    .about-cafe, .menu-container, .where-find {
        width: 700px;
    }
 }